google-adk>=2.4.0
google-cloud-aiplatform[adk,agent_engines]>=1.126.1
requests
python-dotenv
opentelemetry-exporter-gcp-trace
opentelemetry-sdk
opentelemetry-instrumentation-grpc
opentelemetry-instrumentation-requests
google-cloud-trace
cloudpickle==3.1.2
pydantic
